footer {
  width: 100%;
  height: 306px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  background-color: #f9f9f9;
}

.header {
  height: 58px;
  position: relative;

  padding-top: 14px;

  border-bottom: 1px solid #e3e3e3;

  display: flex;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 74px;
  height: 54px;
  position: absolute;
}

.logoText {
  padding-top: 20px;
  padding-left: 60px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;

  color: #febf22;
}

.headerBox {
  padding-top: 20px;
  padding-left: 481px;

  display: flex;
  gap: 125px;

  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.025em;

  color: #797979;
}

.headerBox a {
  color: #797979;
}

.content {
  padding-top: 16px;
  padding-left: 6px;

  display: flex;
  gap: 8px;

  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.025em;

  color: #acacac;
}

.contentBox {
  padding-left: 374px;

  display: flex;
  gap: 84px;
}

.aboutContent {
  display: flex;
  flex-direction: column;

  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  /* 또는 26px */
  letter-spacing: -0.025em;

  color: #797979;
}

.aboutContent a {
  color: #797979;
}

.footer {
  padding-top: 18px;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.025em;

  color: #acacac;
}

@media (max-width: 430px) {
  footer {
    height: auto;
    min-height: 120px;
    padding: 8px 0 0 0;
    flex-direction: column;
    align-items: stretch;
    font-size: 0.7rem;
  }
  .header {
    height: 36px;
    padding-top: 4px;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .header .logo img {
    width: 32px;
    height: 24px;
  }
  .logoText {
    padding-top: 0;
    padding-left: 24px;
    font-size: 0.6rem;
  }
  .header .headerBox {
    padding-top: 22px;
    padding-left: 60px;
    gap: 18px;
    font-size: 0.4rem;
  }
  .content {
    padding-top: 4px;
    padding-left: 0;
    gap: 14px;
    font-size: 0.4rem;
    flex-wrap: wrap;
  }
  .contentBox {
    padding-left: 0;
    gap: 0px;
    flex-wrap: wrap;
  }
  .aboutContent {
    font-size: 0.4rem;
    line-height: 1.1rem;
  }
  .footer {
    padding-top: 4px;
    font-size: 0.4rem;
    line-height: 1rem;
  }
}
