.container {
  /* width: 93px; */
  position: fixed;
  z-index: 10;

  margin-top: 24px;
  margin-left: 32px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: #f6f6f6;
  border-radius: 20px;

  font-weight: 700;
  font-size: 13px;
  line-height: 121.2%;
  letter-spacing: -0.025em;

  color: #acacac;
}

.box {
  width: 76px;

  padding: 10px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.box .text {
  color: #acacac;
}

.box.select {
  background-color: #ffe5a7;
  opacity: 0.73;
  border-radius: 18px;
}

.box.select .text {
  color: black;
}

.main {
  width: 42px;
  height: 40px;
}

.camera {
  width: 41px;
  height: 37px;
}

.cardnews {
  width: 40px;
  height: 40px;
}

.map {
  width: 44px;
  height: 24px;
}

@media (max-width: 430px) {
  .container {
    width: 60px;
    font-size: 0.45rem;
    margin-top: 32px;
    margin-left: 0;
  }

  .box {
    width: 48px;
  }

  .main {
    width: 30px;
    height: 30px;
  }

  .camera {
    width: 32px;
    height: 28px;
  }

  .cardnews {
    width: 30px;
    height: 30px;
  }

  .map {
    width: 38px;
    height: 20px;
  }
}
