.button {
  width: 60px;
  /* height: 35px; */

  padding: 0.4rem 0.4rem;

  border-radius: 10px;

  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.025em;

  color: #ffffff;

  background-color: #acacac;
}

.select {
  background-color: #6d3737;
}
