.dateInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.label {
  font-size: 1.15rem;

  color: #717171;
}

.cal {
  position: relative;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dateInput {
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
  border: 3px solid #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.dateInput::placeholder {
  font-size: 1.2rem;
}

.dateInput:focus {
  border-color: #d4b575;
  outline: none;
}

.calendarIcon {
  color: #f5b800;
  font-size: 3rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.calendarIcon:hover {
  color: #b8860b;
}

.hiddenDateInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}
