.banner {
  /* width: 100%; */
  /* max-width: 1440px; */
  /* height: 198px; */
  /* padding-top: 3.25rem;
  padding-bottom: 4rem; */
  padding: 3rem;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaed;
}

.banner img {
  width: 80px;
  height: 74px;
}

.banner .title {
  margin-left: 24px;

  font-weight: 700;
  font-size: 2.5rem;

  color: #febf22;
}

.banner .content {
  margin-top: 10px;
  margin-left: 4px;

  font-weight: 500;
  font-size: 1.5rem;

  color: #717171;
}
