.container {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;

  padding-top: 53px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.container > div {
  width: 1113px;
}

.container .selectBoxs {
  margin-top: 2rem;
  margin-left: 6rem;

  display: flex;
  gap: 200px;
}

.date .selectBoxs {
  margin-left: 0;
  padding-left: 6rem;
  /* justify-content: center; */
  align-items: center;
  gap: 4rem;
}

.content .contentTextBox {
  display: flex;
  flex-direction: column;
}

.dateSeparator {
  padding-top: 1rem;
  font-size: 2rem;
}

.content .contentTextInput {
  width: 996px;

  margin-top: 2rem;
  margin-left: 38px;
  padding: 1.25rem 1.5rem;

  border: 4px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 19px;
  letter-spacing: -0.025em;

  color: #717171;
}

.content .contentTextInput.select {
  border: 5px solid #febf22;
}

.content .contentTextInput:focus {
  border: 5px solid #febf22;
  outline: none;
  color: black;
}

.content .textButton {
  width: 140px;

  margin-top: 39px;
  margin-left: 473px;

  padding: 1rem 3rem;

  border: none;
  border-radius: 10px;
  background-color: #e2d7d7;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #7c7c7c;

  cursor: auto;
}

.content .contentTextButton.select {
  color: #6d3737;
  background-color: #febf22;

  cursor: pointer;
}

.date {
  margin-bottom: 100px;
}

.goCoaButton {
  width: 234px;
  height: 43px;

  margin: 0 auto 199px;

  border: none;
  border-radius: 10px;
  background-color: #febf22;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #7c7c7c;
}
