.map-page-header {
  width: 100%;
  max-width: 1440px;
  height: 495px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #fffaed;
}

.map-page-header .map-header-title {
  margin-top: 48px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.025em;

  color: #413738;
}

.map-page-header .map-header-content {
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;

  color: #797979;
}

.map-page-header .map-header-button-box {
  margin-top: 9px;
  margin-right: 884px;

  display: flex;
  gap: 11px;
}

.map-page-header .map-header-button-box .select {
  background-color: #6d3737;
}

.map-page-header .map-header-button-box button {
  width: 71px;
  height: 35px;

  border-radius: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.025em;

  color: #ffffff;

  background-color: #acacac;
}

.coa-map-container {
  width: 100%;

  /* -148px */
  margin-top: -118px;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.coa-map-container .coa-map-list {
  width: 222px;
  height: 500px;

  overflow: hidden;
  overflow-y: scroll;

  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.coa-map-container .coa-map-box {
  width: 833px;
  height: 436px;

  background-color: #797979;
}

.go-my-coa {
  width: 100%;

  padding-top: 28px;
  padding-left: 454px;
  padding-bottom: 199px;

  display: flex;
  justify-content: center;
}

.go-my-coa-button {
  width: 195px;
  height: 44px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #6d3737;

  border-radius: 10px;

  background-color: #febf22;
}
