.background {
  width: 100%;
  height: 420px;

  position: absolute;
  z-index: -1;

  background-color: #fffaed;
}

.header {
  margin: 0 auto;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.header .title {
  margin-top: 2rem;

  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.025em;

  color: #413738;
}

.header .content {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.025em;

  color: #797979;
}

.buttonBox {
  position: absolute;
  width: 600px;
  top: 6px;

  z-index: 10;
  margin-left: 0.5rem;
  margin-right: 322px;

  display: flex;
  gap: 0.75rem;
}

.container {
  width: 100%;
  height: 400px;

  position: relative;

  margin-top: 1.25rem;
  margin-bottom: 199px;

  display: flex;
  justify-content: center;
}

.container .mapList {
  width: 222px;
  max-height: 400px;

  overflow: hidden;
  overflow-y: scroll;

  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.container .mapBox {
  width: 700px;
  position: relative;

  background-color: #797979;
}

/* .goMyCoa {
  width: 922px;

  padding-top: 28px;
  padding-left: 730px;
  padding-bottom: 199px;

  display: flex;
  justify-content: center;
}

.goMyCoaButton {
  width: 195px;
  height: 44px;

  padding: 1rem 2rem;

  border-radius: 10px;

  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.025em;

  color: #6d3737;

  background-color: #febf22;
} */
