/* 검색 박스 스타일 */
.container {
  position: relative;
}

.search {
  /* width: 1094px; */
  width: 600px;
  /* height: 66px; */
  position: relative;

  padding: 0.75rem 1rem;

  box-sizing: border-box;
  border: 3px solid #febf22;
  border-radius: 24px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.025em;

  color: #797979;

  background-color: #fffaed;
  /* background-image: url("../../assets/search.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) center;
  background-size: 25px 25px; */
}

.search:focus {
  outline: none;
}

.search::placeholder {
  font-size: 14px;
}

.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 18px;
  top: 11px;

  cursor: pointer;
}
