.finButton {
  margin-bottom: 199px;
  padding: 1rem 4rem;

  border: none;
  border-radius: 10px;

  background: #e2d7d7;

  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.finButton.active {
  background: #febf22;
}

@media (max-width: 430px) {
  .finButton {
    font-size: 1rem;
    padding: 8px 48px;
  }
}
