.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ico {
  width: 41px;
  height: 41px;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

@media (max-width: 430px) {
  .ico {
    width: 24px;
    height: 24px;
  }

  .title {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.025em;
  }
}
