.container {
  display: flex;
  align-items: center;
  gap: 24px;

  cursor: pointer;
}

.container:hover {
  transform: scale(1.07);
  transition: transform 0.6s ease;
}

.box {
  width: 30px;
  height: 30px;
  border: 4px solid #d9d9d9;
}

.box.select {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #febf22;
}

.title {
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: -0.025em;

  color: #717171;

  white-space: nowrap;
}

@media (max-width: 430px) {
  .container {
    gap: 8px;
  }
  .box {
    width: 20px;
    height: 20px;
  }
  .box.select {
    width: 25px;
    height: 25px;
  }
  .title {
    white-space: nowrap;
    font-size: 0.5rem;
    line-height: 1rem;
  }
}
