.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 40px;
}

.text {
  padding-top: 0.75rem;

  /* text-align: center; */
}

.red {
  padding-top: 0.75rem;

  color: #f83434 !important;

  /* text-align: center; */
}
