/* src/styles/MarketingPage.module.css */

.pageContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 6rem;
  font-family: sans-serif;
}

.section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  
  gap: 2rem; 
  
  margin-top: 16px;
  margin-bottom: 10rem; 
}


.textContainer {
  text-align: center;
  width: 100%; 
  max-width: 800px; 
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.sectionTitle {
  font-size: 40px;
  font-weight: bold;
  color: #413738;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.sectionDescription {
  font-size: 18px;
  color: #797979;
  white-space: pre-wrap;
}

.sectionImage {
  max-width: 90%;
  height: auto;
  border-radius: 12px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}

.ctaButton {
  padding: 14px 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #572C2C; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.2s ease;
}

.ctaButton:hover {
  background-color: #442b2b; 
}

/* 마지막 '지도 이용 제휴' 섹션을 위한 스타일 */
.centeredSection {
  text-align: center;
}