/* src/styles/MarketingLayout.module.css */

.layoutContainer {
  display: flex;
}

.mainContent {
  flex: 1;
}

.banner {
  width: 100%;
  background-color: #ffe5a7; /* 이미지와 유사한 배경색 */
  border-radius: 10px;
  padding: 140px;
  margin: 0 auto;

  position: relative; /* 일러스트 위치 조정을 위한 기준 */

  border-bottom-left-radius: 354px;
}

.bannerContentWrapper {
  position: relative;
  left: -147px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 210px; /* 100px 값을 조절해 간격을 맞추세요. */
  padding-right: 15px;
}

.bannerInfo {
  position: relative;
  transform: translateY(-180px);
}

.bannerTitle {
  font-size: 35px;
  font-weight: bold;
  color: #413738;
  line-height: 2;
  margin: 0 0 15px 0;
}

.bannerSubtitle {
  font-size: 20px;
  color: #797979;
}

.illustration {
  position: absolute;
  width: 600px; /* 일러스트 크기 조절 */
  height: 439px;
  top: 231px;
  left: 15px;
  /*  전체 콘텐츠가 중앙 정렬되었으니, 이 값은 화면을 보며 조절해야 할 수 있습니다. */
  bottom: -480px; /* 아래로 내려서 겹치게 배치 */
  /* transform: rotate(-10deg); */
}

.buttonGrid {
  margin-left: -4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 그리드 */
  gap: 50px;
  position: relative;
}

.imageButton {
  width: 140px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.imageButton:hover {
  transform: scale(1.05); /* 마우스 올렸을 때 살짝 커지는 효과 */
}

/* 하단 배너 */
.partnershipBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5% ;
  background-color: #e2d7d7;
  padding: 10px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.bannerIllustrationContainer {
  position: relative;
  bottom: -10px;
}

.bannerIllustration {
  width: 319.02px;
  height: 375.55px;
}

.bannerListContainer {
}

.listTitle {
  font-size: 20px;
  font-weight: 600;
  color: #6d3737;
  margin: 0 0 20px 0;
}

.partnerList {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 카드 사이의 간격 */
}

.partnerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.partnerInfo {
  text-align: left;
}

.partnerName {
  font-size: 18px;
  font-weight: bold;
  color: #febf22;
  margin: 0 0 5px 0;
}

.partnerAddress {
  font-size: 13px;
  color: #797979;
  margin: 0;
  max-width: 350px;
}

.partnerButtons {
  display: flex;
  gap: 10px;
}

.partnerButton {
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.acceptButton {
  background-color: #6d3737;
  color: #febf22;
}

.declineButton {
  background-color: #797979;
  color: #ffffff;
}
