/* src/styles/MarketingTips.module.css */

.container {
  position: relative;
  max-width: 600px;
  min-height: 198px;
  margin: 5%;
  margin-top: 25px;
  margin-bottom: 2.5%;
  border-radius: 20px;
  padding-top: 40px; /* 헤더가 올라오는 만큼 공간 확보 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  font-family: sans-serif;
}

.titleHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* 헤더를 위로 올리고 중앙 정렬 */
  background-color: #6d3737; /* 어두운 갈색 */
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: 250px;
  text-align: center;
}

.content {
  text-align: center;
  height: 468px;
}

.summary {
  font-size: 1rem;
  color: #797979;
  line-height: 1.6;
  /* margin-bottom: 1rem; */
  white-space: nowrap;
}

.summary .highlight {
  color: #febf22;
  font-weight: bold;
}

.tipsList {
  padding: 2rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  max-height: 356px; /* 목록의 최대 높이를 지정 (원하는 높이로 조절) */
  overflow-y: auto; /* 내용이 최대 높이를 넘어가면 세로 스크롤바를 표시 */
  padding-right: 10px; /* 스크롤바와 내용이 겹치지 않도록 여백 추가 */
}

.tipItem {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #ffc107;
  border-radius: 50%;
  margin-top: 4px;
  flex-shrink: 0;
}

.tipDetails {
  display: flex;
  flex-direction: column;
}

.tipTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.tipDate {
  color: #717171;
  margin-right: 10px;
}

.tipLabel {
  color: #febf22; /* 주황색 계열 */
}

.tipDescription {
  font-size: 0.95rem;
  color: #797979;
  line-height: 1.5;
}

.tipDescription p {
  margin: 0 0 5px 0;
}

.tipDescription p:last-child {
  margin-bottom: 0;
}

.error {
  color: #413738;
  text-align: center;
}
