.bannerWrapper {
  background-color: #e2d7d7;
  width: 100vw; /* 뷰포트 전체 너비 */
  margin-left: calc(-50vw + 50%);
}

.banner {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 45%;
}
.userInfo {
  margin-left: 150px;
  white-space: nowrap; /* 줄바꿈을 방지하는 핵심 속성 */
}
.userName {
  color: #413738;
  font-weight: bold;
  font-size: 25px;
}

.userAddress {
  font-weight: 500;
  font-size: 15px;
  margin: 5px 0px;
  color: #797979;
}

.layoutContainer {
  display: flex; /* 자식 요소들을 가로로 배치 */
}

.mainContent {
  /* max-width: 1440px; */
  width: 100%;
  margin: 0 auto;
  /* height: 495px; 나중에 수정 */
}
