.container {
  margin-top: 30px;
  width: 100%;
}

.tabContainer {
  width: 100%;
  /* margin-left: 12%; */
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.tabInner {
  width: 100%;
  max-width: 1440px;
  padding-left: 12%;
}

.tabButton {
  padding: 10px 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  color: #acacac;
}

.tabButton.active {
  color: #febf22; /* 선택된 탭만 노란색으로 설정 */
  border-bottom: 6px solid #febf22; /* 밑줄 색상도 노란색으로 유지 */
}

.content {
  padding: 1rem 0;
}

.tabButtonContainer {
  position: relative;
  display: inline-block;
}

/* 드롭다운 화살표 (▼) 스타일 */
.dropdownArrow {
  font-size: 0.5em;
  margin-left: 8px;
}

/* 드롭다운 메뉴 박스 (절대 위치) */
.dropdownMenu {
  position: absolute;
  top: 100%; /* 버튼 바로 아래 */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  z-index: 100; /* 다른 요소들 위에 보이도록 */
  width: 150px;
}

/* 드롭다운 내부의 각 항목 버튼 */
.dropdownItem {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  color: #333;
  border-radius: 6px; /* 살짝 둥글게 */
}

.dropdownItem:hover {
  background-color: #f5f5f5; /* 마우스 올렸을 때 배경색 */
}
