/* src/styles/my/MyPartnerModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 40px 50px;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 25px; /* 항목 간 간격 */
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}

.modalTitle {
  font-size: 20px;
  font-weight: 550;
  text-align: center;
  color: #797979;
  margin-bottom: 30px;
}

.modalTitle span {
  color: #FEBF22;
  font-size: 30px;
  font-weight: 600;
}

.detailRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 25px;
}

.detailLabel {
  font-size: 18px;
  color: #333333;
  width: 120px; /* 라벨 너비 고정 */
  flex-shrink: 0;
}

.detailValue {
  font-size: 16px;
  color: #FEBF22;
  font-weight: 600;
  padding: 10px 20px;
  border: 3px solid #FEBF22;
  border-radius: 15px;
  width: 80%;
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
}

.detailValue:focus-within,
.detailValue:hover {
  border-color: #ffc94a;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.actionButton {
  padding: 8px 0;
  width: 120px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.actionButton:hover {
  opacity: 0.8;
}

/* 닫기/확인 버튼 (갈색) */
.confirmButton {
  background-color: #6D3737;
  color: white;
}

.declineButton {
  background-color: #D9D9D9;
  color: #797979;
}
.declineButton:hover {
  background-color: #c0c0c0;
}

/* 모달 제목의 가게 이름 (노란색) */
.modalTitle .placeName {
  color: #FEBF22;
}