.container {
  padding-top: 200px;
  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .show {
  width: 820px;
  height: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background-color: #d9d9d9;
  border-radius: 10px;

  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.025em;
  color: #797979;

  cursor: pointer;
}

.show.select {
  border: 6px solid #febf22;
}

.show .dragImg {
  width: 92px;
  height: 92px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.025em;

  color: #797979;
}

.buttonBox {
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 430px) {
  .container {
    padding-top: 160px;
  }
  .container .show {
    width: 300px;
    height: 240px;

    font-size: 1.2rem;

    gap: 32px;
  }
  .buttonBox {
    gap: 24px;
  }
}
