.container {
  width: 100%;
  max-width: 1440px;
  height: 495px;

  margin: 0 auto 599px auto;

  background-color: #fffaed;
}

.header {
  width: 100%;
  max-width: 1440px;

  padding-top: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.img {
  width: 128px;
  height: 128px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;

  color: #febf22;
}

.content {
  padding-top: 20px;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #717171;
}
