.button {
  padding: 1rem 2rem;
  border-radius: 10px;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.img {
  background-color: #ffe5a7;
}

.finish {
  background-color: #febf22;
}

@media (max-width: 430px) {
  .button {
    font-size: 1rem;
    padding: 6px 24px;
  }
}
