.container {
  padding-top: 48px;
  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.guideImg {
  height: 390px;

  border: 6px solid #febf22;
  border-radius: 10px;
}

.guideBox {
  display: flex;
  flex-direction: column;
}

.guideTitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.guideTitle span {
  color: #febf22;
}

.guideText {
  width: 1047px;

  margin-top: 10px;
  padding: 23px 24px 15px;

  border: 2px solid #acacac;
  border-radius: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

@media (max-width: 430px) {
  .guideTitle {
    font-size: 1rem;
  }
}
