.container {
  width: 100%;
  display: flex;

  position: relative;
}

.input {
  width: 100%;

  margin-top: 24px;
  padding: 32px 16px;

  border: 2px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #acacac;
}

.inputImg {
  width: 53px;
  height: 53px;

  position: absolute;
  top: 48px;
  right: 12px;

  background-image: url("../assets/reset.png");
  background-size: cover;

  cursor: pointer;
}
