/* 카드뉴스 배너 */
.cardnews-banner {
  width: 1920px;
  height: 198px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  background-color: #fffaed;

  font-style: normal;
}

.banner-img {
  width: 146px;
  height: 133px;
}

.banner-title {
  margin-left: 24px;

  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #febf22;
}

.banner-content {
  margin-top: 30px;
  margin-left: 8px;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #717171;
}

/* 카드뉴스 박스 */
.cardnews-box-container {
  margin-top: 71px;
  margin-left: 359px;
  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.cardnews-box-header {
  display: flex;
  gap: 5px;
}

.cardnews-box-ico {
  width: 41px;
  height: 41px;
}

.cardnews-box-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

/* 선택 박스 */
.cardnews-box .select-boxs {
  margin-top: 49px;
  margin-left: 114px;

  display: flex;
  gap: 280px;
}

.cardnews-box .select-box {
  display: flex;
  align-items: center;
  gap: 30px;

  cursor: pointer;
}

.cardnews-box .select-box:hover {
  transform: scale(1.07);
  transition: transform 0.6s ease;
}

.cardnews-box .select-boxs .box {
  width: 44px;
  height: 42px;
  border: 4px solid #d9d9d9;
}

.cardnews-box .select-box .box.select {
  width: 52px;
  height: 50px;
  border: none;
  background-color: #febf22;
}

.cardnews-box .select-box-title {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: -0.025em;

  color: #717171;
}

/* 카드뉴스 텍스트 영역 */
.cardnews-text-box {
  display: flex;
  flex-direction: column;
}

.cardnews-text-box .cardnews-text-input {
  width: 1058px;
  padding: 28px;
  margin-top: 70px;
  margin-left: 45px;

  border: 5px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: -0.025em;

  color: #717171;
}

.cardnews-text-box .cardnews-text-input.select {
  border: 5px solid #febf22;
}

.cardnews-text-box .cardnews-text-input:focus {
  border: 5px solid #febf22;
  outline: none;

  color: black;
}

.cardnews-box .text-button {
  width: 235px;
  height: 56px;
  margin-top: 39px;
  margin-left: 473px;

  border: none;
  border-radius: 10px;
  background-color: #e2d7d7;

  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.025em;

  color: #7c7c7c;

  cursor: auto;
}

.cardnews-text-box .cardnews-text-button.select,
.cardnews-text-result-button.select {
  background-color: #febf22;

  color: #6d3737;

  cursor: pointer;
}

.cardnews-text-result-box {
  display: flex;
  flex-direction: column;
}

.text-result-show {
  width: 1058px;
  height: 212px;
  padding: 28px;
  margin-top: 28px;
  margin-left: 40px;

  border: 5px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.025em;

  color: #717171;
}

.text-result-show.select {
  border: 5px solid #febf22;
}

/* 템플릿 리스트 */
.templete-list {
  margin-top: 87px;
  margin-left: 40px;

  display: flex;
  gap: 140px;
}

.templete-list .templete-box {
  width: 300px;
  height: 300px;

  position: relative;
  text-align: center;
  cursor: pointer;

  background-color: #cfcfcf;
  border: 5px solid #acacac;
  border-radius: 10px;
}

.templete-list .templete-box:hover {
  transform: scale(1.04);
  transition: transform 0.6s ease;
}

.templete-list .templete-box.select {
  background-color: #fffaed;
  border: 5px solid #febf22;
  transform: scale(1.04);
}

.templete-list .templete-box.select .store-name,
.templete-list .templete-box.select .store-content {
  background-color: #febf22;
}

.templete-box .templete-text {
  position: absolute;

  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.templete-box .templete-text.bottom {
  top: 78px;
  left: 111px;
}

.templete-box .templete-text.right {
  top: 130px;
  left: 44px;
}

/* 스토어 박스 */
.templete-list .templete-box .store-name {
  width: 106px;
  height: 35px;
  line-height: 35px;
  margin-top: 27px;
  margin-left: 23px;
  background-color: #ededed;
}

.templete-list .templete-box .store-content {
  width: 251px;
  height: 188px;
  line-height: 188px;
  margin-top: 22px;
  margin-left: 24px;
  background-color: #ededed;
}

.templete-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
}

.templete-img-box .templete-box .store-name.bottom {
  margin-top: 138px;
}

.templete-img-box .templete-box .store-content.bottom {
  width: 263px;
  height: 76px;
  line-height: 76px;
}

.templete-img-box .templete-box .store-name.right {
  margin-top: 10px;
  margin-left: 176px;
}

.templete-img-box .templete-box .store-content.right {
  width: 106px;
  height: 219px;
  line-height: 219px;
  margin-left: 176px;
}

/* 업로드 버튼 */
.upload {
  width: 158px;
  height: 42px;

  border: none;
  border-radius: 10px;
  background-color: #e2d7d7;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #7c7c7c;
}

.upload.select {
  background-color: #febf22;
  color: #6d3737;
  cursor: pointer;
}

/* 카드뉴스 테마 */
.them-list {
  margin-top: 70px;
  margin-left: 50px;

  display: flex;
  gap: 98px;
}

.them-box p {
  text-align: center;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.them-box .color-box {
  padding: 25px 15px 19px;
  margin-top: 16px;

  background-color: #f6f6f6;
  border: 5px solid #acacac;
  border-radius: 10px;

  cursor: pointer;
}
.them-box .color-box:hover {
  transform: scale(1.03);
  transition: transform 0.6s ease;
}

.them-box .color-box.select {
  background-color: #fffaed;
  border: 5px solid #febf22;
  transform: scale(1.03);
}
.color-box p {
  text-align: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.color-box .color {
  width: 258px;
  height: 72px;
  margin-top: 13px;
  border-radius: 10px;
}

.color.color1 {
  background-color: #d8b384;
}

.color.color2 {
  background-color: #525252;
}

.color.color3 {
  background-color: #ff8f00;
}

/* 카드뉴스 버튼 */
.cardnews-button {
  width: 330px;
  height: 78px;

  margin-left: 793px;
  margin-bottom: 180px;

  border: none;
  border-radius: 10px;
  background-color: #febf22;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.025em;

  color: #6d3737;
}
