.container {
  display: flex;
  gap: 5px;
}

.ico {
  width: 41px;
  height: 41px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.025em;
  color: #6d3737;
}
