header {
  width: 1920px;
  height: 72px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;

  color: #333333;
  position: relative;
}

header .tags {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  padding-left: 264px;
}

header .img {
  width: 75px;
  height: 54px;

  position: absolute;
  top: 3px;
  left: 205px;
}

header .text {
  color: #febf22;
}

header .my {
  /* 맨 오른쪽으로 */
  margin-left: auto;
  padding-right: 205px;
}
