.map-header {
  width: 1920px;
  height: 495px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #fffaed;
}

.map-header .map-header-title {
  margin-top: 48px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.025em;

  color: #413738;
}

.map-header .map-header-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;

  color: #797979;
}

.map-header .map-header-button-box {
  margin-right: 884px;

  display: flex;
  gap: 11px;
}

.map-header .map-header-button-box button {
  width: 71px;
  height: 35px;

  border-radius: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.025em;

  color: #ffffff;

  background-color: #acacac;
}

.coa-map-container {
  margin-left: 216px;

  display: flex;
  gap: 50px;
}

.coa-map-container .coa-map-list {
  width: 303px;
  height: 545px;

  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.coa-map-container .coa-map-box {
  width: 1135px;
  height: 545px;

  background-color: #797979;
}
