.container {
  width: 160px;
  height: 526px;
  position: fixed;
  left: 8px;
  z-index: 10;

  margin-left: 42px;
  margin-top: 238px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: #f6f6f6;
  border-radius: 40px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 121.2%;
  letter-spacing: -0.025em;

  color: #acacac;
}

.container > :first-child {
  margin-top: 12px;
}

.container > :last-child {
  margin-bottom: 29px;
}

.box {
  width: 118px;

  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.box.select {
  background-color: #ffe5a7;
  opacity: 0.73;
  border-radius: 18px;

  color: black;
}

.main {
  width: 42px;
  height: 40px;
}

.camera {
  width: 41px;
  height: 37px;
}

.cardnews {
  width: 40px;
  height: 40px;
}

.map {
  width: 44px;
  height: 24px;
}
