.container {
  width: 93px;
  height: 399px;
  position: fixed;
  z-index: 10;

  margin-top: 24px;
  margin-left: 32px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: #f6f6f6;
  border-radius: 20px;

  font-weight: 700;
  font-size: 13px;
  line-height: 121.2%;
  letter-spacing: -0.025em;

  color: #acacac;
}

.box {
  width: 76px;
  /* height: 93px; */

  padding: 10px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.box .text {
  color: #acacac;
}

.box.select {
  background-color: #ffe5a7;
  opacity: 0.73;
  border-radius: 18px;
}

.box.select .text {
  color: black;
}

.main {
  width: 42px;
  height: 40px;
}

.camera {
  width: 41px;
  height: 37px;
}

.cardnews {
  width: 40px;
  height: 40px;
}

.map {
  width: 44px;
  height: 24px;
}
