.container {
  width: 100%;
  height: 489px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #413738;
}

.content {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.025em;

  color: #797979;

  margin-top: 24px;
}
