.container {
  width: 100%;
  max-width: 1440px;
  height: 489px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  max-width: 764px;

  font-size: 40px;
  line-height: 48px;
  font-weight: 700;

  color: #413738;
}

.content {
  margin-top: 24px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: -0.025em;

  color: #797979;
}
