/* 페이지 전체 배경 스타일 */
.welcome-container {
  width: 1920px;
  height: 864px;
  position: relative;
}

/* 페이지 헤더 스타일 */
.welcome-header-container {
  width: 100%;
  height: 864px;
  position: relative;

  background: linear-gradient(
    180deg,
    rgba(255, 229, 167, 0.2) 0%,
    rgba(255, 241, 208, 0.2) 50.96%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.welcome-header-box {
  position: relative;

  padding-top: 160px;
  padding-left: 215px;
}

.welcome-header-box .header-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.025em;

  color: #413738;
}

.welcome-header-box .header-img {
  position: absolute;
}

.bee {
  right: 0;
  z-index: 2;

  background-image: url("../assets/welcome/welcome_bee.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 벌 애니메이션 */
.bee:nth-child(2) {
  width: 273px;
  height: 278px;

  top: 327px;
  right: 753px;

  /* animation: wave-animation1 4s linear infinite,
    wave-animation2 4s linear infinite; */

  animation: wave-animation1 4s linear infinite alternate;
}

@keyframes wave-animation1 {
  0% {
    transform: translateX(calc(100% + 20px)) translateY(0);
  }
  12.5% {
    transform: translateX(calc(87.5% + 17.5px)) translateY(-7px);
  }
  25% {
    transform: translateX(calc(75% + 15px)) translateY(-10px);
  }
  37.5% {
    transform: translateX(calc(62.5% + 12.5px)) translateY(-7px);
  }
  50% {
    transform: translateX(calc(50% + 10px)) translateY(0);
  }
  62.5% {
    transform: translateX(calc(37.5% + 7.5px)) translateY(7px);
  }
  75% {
    transform: translateX(calc(25% + 5px)) translateY(10px);
  }
  87.5% {
    transform: translateX(calc(12.5% + 2.5px)) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
    /* background-image: url("../assets//welcome/welcome_bee_rev.png"); */
  }
}
@keyframes wave-animation2 {
  0% {
    background-image: url("../assets//welcome/welcome_bee_rev.png");
    transform: translateX(0) translateY(0);
  }
  12.5% {
    transform: translateX(calc(12.5% + 2.5px)) translateY(7px);
  }
  25% {
    transform: translateX(calc(75% + 15px)) translateY(-10px);
  }
  37.5% {
    transform: translateX(calc(37.5% + 7.5px)) translateY(7px);
  }
  50% {
    transform: translateX(calc(50% + 10px)) translateY(0);
  }
  62.5% {
    transform: translateX(calc(62.5% + 12.5px)) translateY(-7px);
  }
  75% {
    transform: translateX(calc(25% + 5px)) translateY(10px);
  }
  87.5% {
    transform: translateX(calc(87.5% + 17.5px)) translateY(-7px);
  }
  100% {
    transform: translateX(calc(100% + 20px)) translateY(0);
  }
}

.bee:nth-child(3) {
  width: 205px;
  height: 211px;

  top: 504px;
  right: 600px;

  animation: wave-animation3 6s linear infinite alternate;
}

@keyframes wave-animation3 {
  0% {
    transform: translateX(calc(100% + 20px)) translateY(0);
  }
  12.5% {
    transform: translateX(calc(87.5% + 17.5px)) translateY(-7px);
  }
  25% {
    transform: translateX(calc(75% + 15px)) translateY(-10px);
  }
  37.5% {
    transform: translateX(calc(62.5% + 12.5px)) translateY(-7px);
  }
  50% {
    transform: translateX(calc(50% + 10px)) translateY(0);
  }
  62.5% {
    transform: translateX(calc(37.5% + 7.5px)) translateY(7px);
  }
  75% {
    transform: translateX(calc(25% + 5px)) translateY(10px);
  }
  87.5% {
    transform: translateX(calc(12.5% + 2.5px)) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
    /* background-image: url("../assets//welcome/welcome_bee_rev.png"); */
  }
}

.welcome-header-box .hive {
  width: 805px;
  height: 599px;

  top: 123px;
  right: 0;
  z-index: 1;

  background-image: url("../assets/welcome//welcome_hive.png");
}

/* 헤더, 사인맵 p 태그 공통 스타일 */
.text {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.025em;

  color: #797979;
}

.header.text {
  margin-top: 42px;
}

/* 헤더 이미지 스타일 */
.welcome-header-box .welcome-header-img {
  width: 839px;
  height: 630px;
  position: absolute;
  left: 961px;
  bottom: 72px;
  z-index: 10;
}

/* 헤더 바닥 박스 스타일 */
.welcome-header-container .welcome-header-bottom-box {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;

  background-color: #febf22;
}

/* 페이지 카드 래퍼 배경 스타일 */
.welcome-card-wrapper {
  display: block;

  background: linear-gradient(
    180deg,
    #ffffff 2.4%,
    #fffaed 50.48%,
    #ffffff 100%
  );
}

/* 카드 내부 스타일 및 애니메이션 */
.welcome-card-wrapper .welcome-card {
  width: 100%;
  height: 994px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.line-top {
  width: 1481px;
  position: absolute;
  top: 0;
  left: 219px;

  border-top: 3px solid #d9d9d9;
}

.line-bottom {
  width: 1481px;
  position: absolute;
  left: 219px;

  border-bottom: 3px solid #d9d9d9;
}

.welcome-card-wrapper .welcome-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.welcome-card.marketing {
  position: relative;
}

.welcome-card .marketing-boxs.left {
  position: absolute;
  top: 0;

  margin-top: 42px;
  margin-left: 215px;
}

/* 카드 내부 텍스트 위치 조정 */
.welcome-card .welcome-text-box {
  margin-bottom: 452px;
}

.welcome-card .welcome-text-box.right {
  margin-left: 171px;
}

.welcome-card .welcome-text-box.left {
  position: absolute;
  top: 242px;
  right: 15px;

  margin-top: 42px;
  margin-right: 215px;
}

/* 카드 내부 텍스트 스타일 */
.welcome-text-box .mini-title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  color: #febf22;
}

.welcome-text-box .card-title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;

  color: #6d3737;
}

.welcome-text-box .card-content {
  margin-top: 53px;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.025em;

  color: #797979;
}

/* 스마트 리포트 스타일 */
.welcome-card.report .report-img {
  width: 813px;
  position: absolute;
  top: 112px;
  right: 190px;
}

/* 마케팅 박스 스타일 */
.welcome-card .marketing-boxs {
  width: 840px;
  height: 760px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.welcome-card .marketing-boxs.left {
  margin-left: 215px;
}

.marketing-boxs .marketing-box {
  width: 689px;
  height: 114px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  background-color: #febf22;
  border-radius: 10px;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
}

.marketing-box:nth-child(2) {
  opacity: 0.8;
}
.marketing-box:nth-child(3) {
  opacity: 0.6;
}
.marketing-box:nth-child(4) {
  opacity: 0.4;
}

/* 마케팅 박스 내부 텍스트 스타일 */
.marketing-box .marketing-box-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #6d3737;
}

.marketing-box .marketing-box-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #717171;
}

/* 카드 뉴스 박스 스타일 */
.welcome-card .cards-box {
  width: 840px;
  height: 760px;
  position: relative;

  display: flex;
}

.welcome-card .cards-box.right {
  margin-right: 159px;
}

/* 카드 뉴스 겹치게 */
.welcome-card .cards-box .card-img {
  width: 423px;
  height: 533px;
  position: absolute;

  border-radius: 35px;
}

.card-img:nth-child(1) {
  top: -28px;
  left: 96px;
  z-index: 3;
}
.card-img:nth-child(2) {
  top: -51px;
  left: 206px;
  z-index: 2;
}
.card-img:nth-child(3) {
  top: -77px;
  left: 305px;
  z-index: 1;
}

/* 페이지 사인맵 스타일 */
.welcome-container .welcome-sign-map {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(109, 55, 55, 0.2);
}

.welcome-sign-map .welcome-sign-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.025em;

  color: #413738;

  margin-top: 130px;
}

.welcome-sign-map .sign.text {
  margin-top: 56px;
}

.welcome-sign-map .welcome-sign-img {
  width: 368px;
  height: 341px;

  margin-top: 120px;
}

.welcome-sign-map .welcome-sign-button {
  width: 593px;
  height: 93px;

  margin-top: 72px;
  margin-bottom: 141px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.025em;
  color: #ffffff;

  background-color: #6d3737;
  border-radius: 73px;
  border: none;

  cursor: pointer;

  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

/* 버튼 호버 애니메이션 */
.welcome-sign-map .welcome-sign-button:hover {
  background-color: #8b4b4b;
  transform: scale(1.04);
}

/*
.bee:nth-child(2) {
  width: 273px;
  height: 278px;

  top: 327px;
  right: 753px;

  animation: wave-animation1 3s linear infinite;
  /* animation: wave-animation1 3s linear infinite alternate; */

@keyframes wave-animation {
  0% {
    transform: translateX(100px) translateY(0);
  }
  12.5% {
    transform: translateX(87.5px) translateY(-7px);
  }
  25% {
    transform: translateX(75px) translateY(-10px);
  }
  37.5% {
    transform: translateX(62.5px) translateY(-7px);
  }
  50% {
    transform: translateX(50px) translateY(0);
  }
  62.5% {
    transform: translateX(37.5px) translateY(7px);
  }
  75% {
    transform: translateX(25px) translateY(10px);
  }
  87.5% {
    transform: translateX(12.5px) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* .bee:nth-child(3) {
  width: 205px;
  height: 211px;

  top: 504px;
  right: 575px;

  animation: wave-animation2 3s linear infinite;
  /* wave-animation3 3s linear infinite; */
/* animation-delay: 1s; */

@keyframes wave-animation {
  0% {
    transform: translateX(100px) translateY(0);
  }
  12.5% {
    transform: translateX(87.5px) translateY(-7px);
  }
  25% {
    transform: translateX(75px) translateY(-10px);
  }
  37.5% {
    transform: translateX(62.5px) translateY(-7px);
  }
  50% {
    transform: translateX(50px) translateY(0);
  }
  62.5% {
    transform: translateX(37.5px) translateY(7px);
  }
  75% {
    transform: translateX(25px) translateY(10px);
  }
  87.5% {
    transform: translateX(12.5px) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes wave-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  12.5% {
    transform: translateX(12.5px) translateY(7px);
  }
  25% {
    transform: translateX(25px) translateY(10px);
  }
  37.5% {
    transform: translateX(37.5px) translateY(7px);
  }
  50% {
    transform: translateX(50px) translateY(0);
  }
  62.5% {
    transform: translateX(62.5px) translateY(-7px);
  }
  75% {
    transform: translateX(75px) translateY(-10px);
  }
  87.5% {
    transform: translateX(87.5px) translateY(-7px);
  }
  100% {
    transform: translateX(100px) translateY(0);
  }
}
