.showResult {
  position: relative;

  font-style: normal;
}

.topBox {
  position: absolute;
  z-index: -1;
  width: 1920px;
  height: 635px;

  background-color: #fffaed;
}

.resultBox {
  padding-top: 52px;
  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

/* 비율마다 변경 */
.resultImg {
  width: 520px;
  height: 520px;
}
.ratio23 {
  width: 520px;
  height: 650px;
}
.ratio32 {
  width: 650px;
  height: 520px;
}

.buttonBox {
  display: flex;
  gap: 27px;
}

@media (max-width: 430px) {
  .resultBox {
    padding-top: 64px;
    gap: 48px;
  }
  .resultImg {
    width: 260px;
    height: 260px;
  }
}
