.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 카드뉴스 배너 */
.banner {
  width: 100%;
  /* max-width: 1440px; */
  /* height: 212px; */

  margin: 0 auto;
  padding: 3rem;
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  background-color: #fffaed;

  font-style: normal;
}

.banner .img {
  width: 80px;
  height: 74px;
}

.title {
  max-width: 344px;
  margin-left: 24px;

  font-weight: 700;
  font-size: 2.5rem;

  color: #febf22;
}

.content {
  margin-top: 10px;

  font-weight: 500;
  font-size: 1.5rem;

  color: #717171;
}

/* 카드뉴스 박스 */
.cardNewsContainer {
  width: 100%;

  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
}

/* 타입 스타일 */
.cardNewsContainer .cardNewsType {
  padding-top: 4rem;
}

/* 선택 박스 */
.cardNewsContainer .cardNewsBox {
  width: 1113px;
}

.cardNewsBox .selectBoxs {
  margin-top: 2rem;
  margin-left: 6rem;

  display: flex;
  gap: 270px;
}

/* 카드뉴스 텍스트 영역 */
.cardNewsTextBox {
  width: 1096px;

  display: flex;
  flex-direction: column;
}

.textInput {
  width: 996px;

  padding: 1.25rem 1.5rem;
  margin-top: 2rem;
  margin-left: 38px;

  border: 4px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: -0.025em;

  color: #717171;
}

.textInput::placeholder {
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: -0.025em;

  color: #717171;
}

.textInput.select {
  border: 5px solid #febf22;
}

.textInput:focus {
  border: 5px solid #febf22;
  outline: none;

  color: black;
}

.textButton {
  margin: 2.5rem auto 0;
  padding: 1rem 3rem;

  border: none;
  border-radius: 10px;
  background-color: #e2d7d7;

  font-weight: 700;
  font-size: 1.15rem;
  letter-spacing: -0.025em;

  color: #7c7c7c;

  cursor: auto;
}

.cardnewsTextButton.select,
.cardNewsTextResultButton.select {
  background-color: #febf22;

  color: #6d3737;

  cursor: pointer;
}

.textResultBox {
  display: flex;
  flex-direction: column;
}

.showResult {
  width: 996px;
  height: 128px;

  padding: 1.25rem 1.5rem;
  margin-top: 3rem;
  margin-left: 38px;

  border: 4px solid #d9d9d9;
  border-radius: 10px;

  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.025em;

  color: #717171;
}

.showResult.select {
  border: 5px solid #febf22;
}

/* 템플릿 리스트 */

.cardNewsTemplate > p {
  padding-top: 16px;
  padding-left: 6rem;

  color: #7c7c7c;
}

.templateList {
  margin-top: 16px;
  margin-left: 6rem;

  display: flex;
  gap: 140px;
}

.templateList .templateBox {
  width: 240px;
  height: 240px;

  position: relative;
  text-align: center;
  cursor: pointer;

  background-color: #cfcfcf;
  border: 5px solid #acacac;
  border-radius: 10px;
}

.templateList .templateBoxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.templateList .templateBox:hover {
  transform: scale(1.04);
  transition: transform 0.6s ease;
}

.templateList .templateBox.select {
  border: 5px solid #febf22;
  background-color: #fffaed;

  transform: scale(1.04);
}

.templateList .templateBox.select .content {
  background-color: #febf22;
}

.templateBox .text {
  position: absolute;

  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.templateBox .text.bottom {
  top: 100px;
  left: 90px;
}

.templateBox .text.right {
  top: 112px;
  left: 44px;
}

/* 스토어 박스 */
.templateList .templateBox .content {
  width: 220px;
  height: 100px;

  margin: 70px auto;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100px;
  letter-spacing: -0.025em;

  color: #6d3737;

  background-color: #ededed;
}

.imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.imgBox .templateBox .content.bottom {
  width: 220px;
  height: 60px;

  line-height: 60px;

  margin-top: 160px;
}

.imgBox .templateBox .content.right {
  width: 96px;
  height: 200px;

  margin: 0;
  margin-top: 18px;
  margin-left: 130px;
  font-size: 1.125rem;
  line-height: 200px;
}

/* 카드뉴스 테마 */
.themeList {
  margin-top: 3rem;
  margin-left: 6rem;

  display: flex;
  gap: 98px;

  cursor: pointer;
}

.themeList .themeBox {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: 4px solid #acacac;
  border-radius: 10px;

  font-weight: 800;
  font-size: 1rem;
  letter-spacing: -0.025em;

  color: #6d3737;

  background-color: #f6f6f6;
}

.themeList .themeBox.select {
  border: 5px solid #febf22;
  background-color: #fffaed;
  transform: scale(1.04);
}

.themeList .themeBox:hover {
  transform: scale(1.04);
  transition: transform 0.6s ease;
}

@media (max-width: 430px) {
  .banner {
    gap: 0;
  }
  .banner .img {
    width: 60px;
    height: 54px;
  }
  .banner .title {
    margin-left: 12px;

    font-size: 1.5rem;
    line-height: 1rem;
  }
  .banner .content {
    font-size: 0.6rem;
    line-height: 0.6rem;
  }

  .cardNewsContainer .cardNewsType {
    padding-top: 32px;
  }

  .cardNewsContainer .cardNewsBox {
    width: 300px;
  }

  .cardNewsBox .selectBoxs {
    margin-top: 16px;
    margin-left: 30px;

    display: flex;
    gap: 24px;
  }
  .cardNewsTextBox {
    width: 300px;
  }
  .textInput {
    width: 240px;

    margin-top: 16px;
    margin-left: 22px;
    padding: 12px 8px;

    font-size: 0.9rem;
  }
  .textButton {
    margin: 16px auto 0;
    padding: 8px 24px;
    font-size: 0.8rem;
  }
  .showResult {
    width: 218px;
    height: 88px;

    margin-top: 16px;
    margin-left: 22px;
    padding: 16px;

    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .cardNewsTemplate > p {
    font-size: 0.8rem;

    padding-top: 8px;
    padding-left: 32px;
  }
  .templateList {
    margin-left: 22px;

    gap: 16px;
  }
  .templateList .templateBox {
    width: 70px;
    height: 70px;
  }
  .templateList .templateBox .content {
    width: 50px;
    height: 30px;

    font-size: 0.5rem;
    line-height: 30px;
    margin: 20px auto;
  }
  .templateBox .text {
    font-size: 0.5rem;
    line-height: 0.6rem;
  }
  .templateBox .text.bottom {
    top: 16px;
    left: 24px;
  }
  .templateBox .text.right {
    top: 32px;
    left: 8px;
  }
  .imgBox .templateBox .content.bottom {
    width: 60px;
    height: 30px;
    line-height: 30px;

    margin: 32px auto 0;
  }
  .imgBox .templateBox .content.right {
    width: 30px;
    height: 60px;

    font-size: 0.6rem;
    line-height: 30px;

    margin: 4px 0 0 34px;
  }
  .themeList {
    margin-top: 16px;
    margin-left: 22px;

    flex-wrap: wrap;
    gap: 16px;
  }
  .themeList .themeBox {
    padding: 4px 8px;
    white-space: nowrap;

    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}
