.container {
  min-height: 1092px;
}

.showResult {
  position: relative;

  font-style: normal;
}

.topBox {
  width: 1920px;
  height: 635px;

  background-color: #fffaed;
}

.resultBox {
  position: absolute;
  top: 50px;
  left: 230px;

  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

/* 비율마다 변경 */
.resultImg {
  width: 520px;
  height: 520px;
}
.ratio23 {
  width: 520px;
  height: 650px;
}
.ratio32 {
  width: 650px;
  height: 520px;
}

.buttonBox {
  display: flex;
  gap: 27px;
}

.buttonBox button {
  width: 228px;
  height: 53px;

  border: none;
  border-radius: 10px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.buttonBox .save,
.buttonBox .new {
  width: 296px;
}

.buttonBox .back {
  width: 322px;
}

.buttonBox .save {
  background-color: #febf22;
}

.buttonBox .back {
  background-color: #ffe5a7;
}

.buttonBox .new {
  background-color: #e3e3e3;
}

.chance {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #6d3737;
}

.chance span {
  color: #febf22;
}
