.container {
  min-height: 1092px;
}

.showResult {
  position: relative;

  font-style: normal;
}

.topBox {
  width: 1920px;
  height: 635px;

  background-color: #fffaed;
}

.resultBox {
  position: absolute;
  top: 50px;
  left: 404px;

  padding-bottom: 199px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

/* 비율마다 변경 */
.resultImg {
  width: 520px;
  height: 520px;
}
.ratio23 {
  width: 520px;
  height: 650px;
}
.ratio32 {
  width: 650px;
  height: 520px;
}

.buttonBox {
  display: flex;
  gap: 27px;
}
