.agreement {
  /* margin-top: 2rem; */
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #333333;
}

.required {
  color: #febf22;
}

.selection {
  color: #acacac;
}
