.container {
  width: 560px;

  margin-top: 3rem;
  /* margin-top: 56px; */
  padding: 2rem;
}

.header {
  padding-left: 1rem;

  display: flex;
  align-items: center;
  gap: 20px;
}

.headerTitle {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;

  color: #333333;
}

.agreementBox {
  padding-left: 1rem;
}
