/* src/styles/ImprovementTips.module.css */

.tipsContainer {
  max-width: 1400px; 
  width: 100%;
  margin: 2rem auto; 
  padding: 2rem;
  font-family: sans-serif;
  margin-left: 10%;
}

.tipsHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tipIcon {
  width: 60px; /* 아이콘 크기 */
  height: 60px;
}

.tipsTitle {
  font-size: 30px;
  font-weight: bold;
  color: #6D3737;
  margin: 0;
}

.tipsText {
  font-size: 20px;
  font-weight: bold;
  color: #413738;
  line-height: 2; 
  white-space: pre-wrap; 
  max-width: 1150px;
}