/* src/styles/MarketingContent.module.css */

.container {
  max-width: 800px;
  margin: 2rem auto; /* 페이지 중앙 정렬 */
  padding: 1rem;
  font-family: sans-serif;
}

.pageSubtitle {
  text-align: center;
  font-size: 20px;
  color: #797979;
  margin-bottom: 3rem; /* 제목과 목록 사이 간격 */
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 카드 사이의 간격 */
}

.eventCard {
  /* width: 810px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #febf22; /* 노란색/주황색 배경 */
  /* padding: 30px 30px; */
  /* padding-block: 2rem; */
  /* padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-inline: 1.5rem; */
  padding: 1.5rem;
  border-radius: 12px;
  text-align: left;
}

.eventText {
  /* 텍스트 영역 */
}

.eventTitle {
  font-size: 20px;
  font-weight: bold;
  color: #6d3737;
  margin: 0 0 5px 0;
}

.eventDesc {
  padding-left: 0.5rem;

  font-size: 15px;
  color: #717171;
  margin: 0;

  /* white-space: nowrap; */
}

.deleteButton {
  background-color: #6d3737; /* 어두운 갈색 */
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 6px 25px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  flex-shrink: 0; /* 버튼 크기가 줄어들지 않도록 설정 */
  margin-left: 20px;
  transition: background-color 0.2s;
}

.deleteButton:hover {
  background-color: #572c2c; /* 호버 시 더 진한 색 */
}

.error {
  color: #413738;
  font-size: 20px;
  text-align: center;
}
