/* src/styles/ReportContent.module.css */

.reportContainer {
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;    
}

.pageLayout {
  display: block; 
  padding: 2rem; 
  background-color: #FFE5A7;
  width: 100vw;   
  margin-left: calc(-50vw + 50%); 
  border-bottom-left-radius: 500px; 
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap; 
  gap: 5rem; 
  max-width: 1200px; 
  margin: 0 auto; 
  width: 100%;
}

.leftColumn, .rightColumn {
  flex: 1; 
  flex-basis: 350px; 
  display: flex;
  flex-direction: column;
}

.leftColumn {
  align-items: flex-end;
}
.rightColumn {
  align-items: flex-start;
}


.reportHeader {
  text-align: left; 
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.headerText h2 {
  font-size: 26px; 
  color: #413738;
  margin-bottom: 20px;
  white-space: nowrap; 
}

.placeName {
  color: #6D3737;
  font-size: 35px; 
}

.headerText p {
  font-size: 18px;
  color: #717171;
  word-break: keep-all; 
}

.headerIllustration {
  width: 100%;
  max-width: 350px; 
  height: auto;
  margin-top: 2rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 1.5rem;
  width: 100%;
  justify-content: flex-start; 
}

.card {
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  min-height: 200px; 
}

/* --- 하단 버튼 --- */
.actionButtons {
  display: flex;
  justify-content: center; 
  gap: 1rem;
  margin-top: 2.5rem;
  width: 100%;
}

.updateButton, .posButton {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 160px;
}
.updateButton {
  background-color: #FEBF22;
  color: #6D3737;
}
.posButton {
  background-color: #FEBF22;
  color: #6D3737;
}
.summarySection, .tipsSection {
  margin-top: 3rem;
  padding: 1rem;
}