/* 페이지 카드 래퍼 배경 스타일 */
.cardWrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: block;

  background: linear-gradient(
    180deg,
    #ffffff 2.4%,
    #fffaed 50.48%,
    #ffffff 100%
  );
}

/* 카드 내부 스타일 및 애니메이션 */
.cardWrapper .cardBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.line {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
  position: absolute;
  top: 0;

  border-top: 3px solid #d9d9d9;
}

.cardWrapper .cardBox.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 카드 내부 텍스트 스타일 */
.textBox .mini {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #febf22;
}

.textBox .title {
  padding-top: 20px;

  font-weight: 700;
  font-size: 48px;
  line-height: 57px;

  color: #6d3737;
}

.textBox .content {
  padding-top: 59px;

  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.025em;

  color: #797979;
}

/* 스마트 리포트 스타일 */
.cardBox.report {
  height: 660px;
}

/* 텍스트 위치 조정 */
.cardBox .textBox.report {
  padding-top: 199px;
  margin-left: 122px;
}

.cardBox .textBox.report .title {
  font-size: 65px;
}

.cardBox.report .reportImg {
  width: 574px;

  padding-top: 108px;
  padding-right: 80px;
}

/* 마케팅 스타일 */
.cardBox.marketing {
  height: 800px;

  padding-top: 216px;
}

/* 마케팅 내부 박스 스타일 */
.cardBox .marketingBoxes {
  width: 840px;
  height: 760px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.marketingBoxes .marketingBox {
  width: 635px;
  height: 114px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  background-color: #febf22;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
}

.marketingBox:nth-child(2) {
  opacity: 0.8;
}
.marketingBox:nth-child(3) {
  opacity: 0.6;
}
.marketingBox:nth-child(4) {
  opacity: 0.4;
}

/* 마케팅 내부 박스 텍스트 스타일 */
.marketingBox .marketingTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #6d3737;
}

.marketingBox .marketingContent {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #717171;
}

.cardBox .textBox.marketing {
  padding-top: 194px;
}

/* 카드 뉴스 스타일 */
.cardBox .cardImgBox {
  width: 840px;
  height: 760px;
  position: relative;

  padding-left: 20px;

  display: flex;
}

.cardBox .textBox.sns {
  padding-top: 66px;
  margin-left: 122px;
}

/* 카드 뉴스 겹치게 */

.cardBox.sns {
  padding-top: 199px;
}

.cardBox.sns .textBox .content {
  width: 548px;
}

.cardBox .cardImgBox .cardImg {
  width: 370px;
  height: 380px;
  position: absolute;

  border-radius: 35px;
}

.cardImg:nth-child(1) {
  z-index: 3;
}
.cardImg:nth-child(2) {
  opacity: 0.8;
  left: 124px;
  z-index: 2;
}
.cardImg:nth-child(3) {
  opacity: 0.6;
  left: 213px;
  z-index: 1;
}

.cardBox.sns .line {
  bottom: 0;
  top: auto;
}