.container {
  margin-top: 1rem;
  position: relative;
}

.search {
  width: 500px;
  /* height: 56px; */
  position: relative;

  padding-block: 0.9rem;
  /* padding: 1rem; */
  padding-inline: 1.5rem;
  /* padding-left: 24px; */

  box-sizing: border-box;
  border: 3px solid #febf22;
  border-radius: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.025em;

  color: #797979;
}

.searchIcon {
  width: 25px;
  height: 25px;

  position: absolute;
  z-index: 14;
  right: 22px;
  top: 15px;

  cursor: pointer;
}

.search:focus {
  outline: none;
}

@media (max-width: 430px) {
  .search {
    width: 90vw;
    min-width: 0;
    height: 32px;
    padding-left: 10px;
    font-size: 0.9rem;
    line-height: 1.1rem;
    border-width: 2px;
    border-radius: 12px;
    background-size: 16px 16px;
    background-position: calc(100% - 10px) center;
  }
}
