.container {
  width: 100%;
  max-width: 1440px;
  /* height: 489px; */

  padding: 75px 0 110px 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.title {
  max-width: 764px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #413738;
}

.content {
  margin-top: 48px;

  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.025em;

  color: #797979;
}
