.container {
  width: 100%;
  max-width: 1440px;

  padding: 148px 0 40px 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: pre-line;
}

.title {
  /* max-width: 764px; */

  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;

  color: #413738;

  text-align: center;
}

.content {
  margin-top: 48px;

  text-align: center;

  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.025em;

  color: #797979;
}

@media (max-width: 430px) {
  .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    max-width: 66%;
  }
  .content {
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin-top: 10px;
    text-align: center;
  }
}
