/* 페이지 전체 배경 스타일 */
.welcome-container {
  width: 100%;
  max-width: 1920px;
  min-height: 864px;
  /* height: 864px; */
  position: relative;

  margin: 0 auto;
}

/* 페이지 헤더 스타일 */
.welcome-header-container {
  width: 100%;
  height: 864px;
  position: relative;

  background: linear-gradient(
    180deg,
    rgba(255, 229, 167, 0.2) 0%,
    rgba(255, 241, 208, 0.2) 50.96%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.welcome-header-box {
  width: 1440px;
  position: relative;

  margin: 0 auto;
}

.header-text-box {
  padding-left: 171px;
}

.welcome-header-box .header-title {
  width: 577px;

  padding-top: 108px;

  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.025em;

  color: #413738;
}

.welcome-header-box .header-text {
  padding-top: 25px;

  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.025em;

  color: #797979;
}

.welcome-header-box .header-img {
  position: absolute;
}

.bee {
  right: 0;
  z-index: 2;

  background-image: url("../../assets/welcome/welcome_bee.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 벌 애니메이션 */
.bee:nth-child(2) {
  width: 213px;
  height: 218px;

  top: 264px;
  right: 658px;

  animation: wave-animation1 5s linear infinite alternate;
}

@keyframes wave-animation1 {
  0% {
    transform: translateX(calc(100% + 20px)) translateY(0);
  }
  12.5% {
    transform: translateX(calc(87.5% + 17.5px)) translateY(-7px);
  }
  25% {
    transform: translateX(calc(75% + 15px)) translateY(-10px);
  }
  37.5% {
    transform: translateX(calc(62.5% + 12.5px)) translateY(-7px);
  }
  50% {
    transform: translateX(calc(50% + 10px)) translateY(0);
  }
  62.5% {
    transform: translateX(calc(37.5% + 7.5px)) translateY(7px);
  }
  75% {
    transform: translateX(calc(25% + 5px)) translateY(10px);
  }
  87.5% {
    transform: translateX(calc(12.5% + 2.5px)) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
    /* background-image: url("../assets//welcome/welcome_bee_rev.png"); */
  }
}

.bee:nth-child(3) {
  width: 145px;
  height: 151px;

  top: 434px;
  right: 724px;

  animation: wave-animation2 7s linear infinite alternate;
}

@keyframes wave-animation2 {
  0% {
    transform: translateX(calc(100% + 20px)) translateY(0);
  }
  12.5% {
    transform: translateX(calc(87.5% + 17.5px)) translateY(-7px);
  }
  25% {
    transform: translateX(calc(75% + 15px)) translateY(-10px);
  }
  37.5% {
    transform: translateX(calc(62.5% + 12.5px)) translateY(-7px);
  }
  50% {
    transform: translateX(calc(50% + 10px)) translateY(0);
  }
  62.5% {
    transform: translateX(calc(37.5% + 7.5px)) translateY(7px);
  }
  75% {
    transform: translateX(calc(25% + 5px)) translateY(10px);
  }
  87.5% {
    transform: translateX(calc(12.5% + 2.5px)) translateY(7px);
  }
  100% {
    transform: translateX(0) translateY(0);
    /* background-image: url("../assets//welcome/welcome_bee_rev.png"); */
  }
}

.welcome-header-box .hive {
  width: 700px;
  height: 493px;

  top: 111px;
  right: 0;
  z-index: 1;

  background-image: url("../../assets/welcome//welcome_hive.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

/* 헤더 바닥 박스 스타일 */
.welcome-header-container .welcome-header-bottom-box {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;

  background-color: #febf22;
}

/* 페이지 카드 래퍼 배경 스타일 */
.welcome-card-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: block;

  background: linear-gradient(
    180deg,
    #ffffff 2.4%,
    #fffaed 50.48%,
    #ffffff 100%
  );
}

/* 카드 내부 스타일 및 애니메이션 */
.welcome-card-wrapper .welcome-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.line {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
  position: absolute;
  top: 0;

  border-top: 3px solid #d9d9d9;
}

.welcome-card-wrapper .welcome-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 카드 내부 텍스트 스타일 */
.welcome-text-box .mini-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #febf22;
}

.welcome-text-box .card-title {
  padding-top: 20px;

  font-weight: 700;
  font-size: 48px;
  line-height: 57px;

  color: #6d3737;
}

.welcome-text-box .card-content {
  padding-top: 59px;

  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.025em;

  color: #797979;
}

/* 스마트 리포트 스타일 */
.welcome-card.report {
  height: 660px;
}

/* 텍스트 위치 조정 */
.welcome-card .welcome-text-box.report {
  padding-top: 199px;
  margin-left: 122px;
}

.welcome-card .welcome-text-box.report .card-title {
  font-size: 65px;
}

.welcome-card.report .report-img {
  width: 574px;

  padding-top: 108px;
  padding-right: 80px;
}

/* 마케팅 스타일 */
.welcome-card.marketing {
  height: 800px;

  padding-top: 216px;
}

/* 마케팅 내부 박스 스타일 */
.welcome-card .marketing-boxs {
  width: 840px;
  height: 760px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.marketing-boxs .marketing-box {
  width: 635px;
  height: 114px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  background-color: #febf22;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
}

.marketing-box:nth-child(2) {
  opacity: 0.8;
}
.marketing-box:nth-child(3) {
  opacity: 0.6;
}
.marketing-box:nth-child(4) {
  opacity: 0.4;
}

/* 마케팅 내부 박스 텍스트 스타일 */
.marketing-box .marketing-box-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #6d3737;
}

.marketing-box .marketing-box-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #717171;
}

.welcome-card .welcome-text-box.marketing {
  padding-top: 194px;
}

/* 카드 뉴스 스타일 */
.welcome-card .card-img-box {
  width: 840px;
  height: 760px;
  position: relative;

  display: flex;
}

.welcome-card .welcome-text-box.sns {
  padding-top: 66px;
  margin-left: 122px;
}

.welcome-card .card-img-box {
  padding-left: 20px;
}

/* 카드 뉴스 겹치게 */

.welcome-card.sns {
  padding-top: 199px;
}

.welcome-card.sns .welcome-text-box .card-content {
  width: 548px;
}

.welcome-card .card-img-box .card-img {
  width: 370px;
  height: 491px;
  position: absolute;

  border-radius: 35px;
}

.card-img:nth-child(1) {
  z-index: 3;
}
.card-img:nth-child(2) {
  left: 124px;
  z-index: 2;
}
.card-img:nth-child(3) {
  left: 213px;
  z-index: 1;
}

.welcome-card.sns .line {
  bottom: 0;
  top: auto;
}

/* 페이지 사인맵 스타일 */
.welcome-container .welcome-sign-map {
  width: 100%;
  max-width: 1440px;
  height: 813px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(109, 55, 55, 0.2);
}

.welcome-sign-map .welcome-sign-title {
  padding-top: 68px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.025em;

  color: #413738;
}

.welcome-sign-map .sign-text {
  padding-top: 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.025em;

  color: #797979;
}

.welcome-sign-map .welcome-sign-img {
  width: 283px;
  height: 283px;

  padding-top: 76px;
}

.welcome-sign-map .welcome-sign-button {
  width: 581px;
  height: 93px;

  margin-top: 72px;
  margin-bottom: 141px;

  border-radius: 73px;
  border: none;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.025em;

  color: #ffffff;

  background-color: #6d3737;

  cursor: pointer;

  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

/* 버튼 호버 애니메이션 */
.welcome-sign-map .welcome-sign-button:hover {
  background-color: #8b4b4b;
  transform: scale(1.04);
}
