/* 페이지 전체 배경 스타일 */
.container {
  width: 100%;
  position: relative;

  margin: 0 auto;
}

.line {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;

  border-top: 3px solid #d9d9d9;
}

@media (max-width: 430px) {
  .container {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
  }
}
